<div class="btn-group btn-default navbar-right" style="padding-right: 20px;background: transparent">
    <button type="button" class="btn btn-default k-state-selected" ng-click="createFunction()">Create New Record</button>
    <button type="button" class="btn btn-default k-state-selected dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#" ng-click="createFunction()">Create New Record</a></li>
        <li><a href="#" ng-click="retrieveFunction()" ng-hide="checkRetrieveButton()">Retrieve Full Record</a></li>
        <li><a href="#" ng-click="updateFunction()">Update Selected Record</a></li>
        <li class="divider"></li>
        <li><a href="#" ng-click="deleteFunction()">Delete Selected Record</a></li>
        <li class="divider"></li>
        <li><a href="#" ng-click="clearSelectionsFunction()">Deselect Record(s)</a></li>
    </ul>
</div>
