<div class="modal fade" id="{{gridid}}.saveProgress" tabindex="-1" role="dialog" aria-labelledby="{{gridid}}.saveProgress" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="{{gridid}}.saveProgress.body">
                <div class="progress" style="margin-bottom: 0px;">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                        aria-valuenow="{{saveProgressValuePercent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{saveProgressValuePercent}}%;min-width: 100px;"
                        ng-model="saveProgressValuePercent">Saved: {{saveProgressValuePercent}}%
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
