<div class="modal fade" id="{{gridid}}.create" tabindex="-1" role="dialog" aria-labelledby="{{gridid}}.create" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(227,227,227)">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{popupTitle}}</h4>
            </div>
            <div class="modal-body" id="{{gridid}}.create.body"></div>
            <div class="modal-footer" style="background-color: rgb(227,227,227)">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary k-state-selected" ng-click="saveCreate()">Save changes</button>
        </div>
    </div>
  </div>
</div>
